In [1]:
import pandas as pd
import numpy as np
import math
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import joblib
import itertools
import subprocess
from time import time
from scipy import stats
import scipy.optimize as opt  
from scipy.stats import chi2_contingency
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel('Heart Disease.xlsx')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0.0

In [3]:
data.shape

(303, 14)

In [4]:
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0.0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0.0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,1.0
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0.0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,1.0
9,53.0,1.0,4.0,140.0,203.0,1.0,2.0,155.0,1.0,3.1,3.0,0.0,7.0,1.0

In [5]:
#mylogit = sm.glm( formula = 'Target' ~ 'Independent Variables')

In [6]:
#mylogit.summary

In [7]:
#heartdistrain, heartdistest = train_test_split(data,train_size=0.70,random_state=1)

In [8]:
#xtrain = heartdistrain
#ytrain = heartdistrain
#xtest = heartdistest
#ytest = heartdistest}

In [9]:
# Segregate features and labels into separate variables
X,y = data.iloc[:,0:13] , data.iloc[:,13]

In [10]:
y.head()

0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
Name: target, dtype: float64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 124 to 102
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       212 non-null    float64
 1   sex       212 non-null    float64
 2   cp        212 non-null    float64
 3   trestbps  212 non-null    float64
 4   chol      212 non-null    float64
 5   fbs       212 non-null    float64
 6   restecg   212 non-null    float64
 7   thalach   212 non-null    float64
 8   exang     212 non-null    float64
 9   oldpeak   212 non-null    float64
 10  slope     212 non-null    float64
 11  ca        212 non-null    float64
 12  thal      212 non-null    float64
dtypes: float64(13)
memory usage: 23.2 KB

In [13]:
from sklearn.linear_model import LogisticRegression
# Instantiate a LogisticRegression classifier with default parameter values
logreg = LogisticRegression()

# Fit model to the train set
logreg.fit(X_train, y_train)

/Users/evanweinberg/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True, intercept_scaling=1, l1_ratio=None, max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
random_state=None, solver='warn', tol=0.0001, verbose=0,warm_start=False)

LogisticRegression(multi_class='warn', solver='warn')

In [15]:
from sklearn.metrics import confusion_matrix
y_pred = logreg.predict(X_test)

print("Accuracy of logistic regression classifier: ", logreg.score(X_test, y_test))

Accuracy of logistic regression classifier:  0.8571428571428571

In [16]:
confusion_matrix(y_test, y_pred)

array([[40,  8],
       [ 5, 38]])

In [17]:
X,y = data.iloc[:,0:13] , data.iloc[:,13]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [19]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [20]:
print(rfc.predict(X_test))

[0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0.
 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1.]

In [21]:
print(rfc.score(X_test, y_test))

0.8571428571428571

In [22]:
confusion_matrix(y_test, y_pred)

array([[40,  8],
       [ 5, 38]])

In [36]:
from sklearn.cluster import KMeans

In [40]:
import numpy as np

In [41]:
X = np.array([[1, 2], [1, 4], [1, 0], [10, 2], [10, 4], [10, 0]])

In [42]:
kmeans = KMeans(n_clusters=5, init='kmeans++', random_state=42).fit(data)

ValueError: init should be either 'k-means++', 'random', a ndarray or a callable, got 'kmeans++' instead.

In [39]:
sns.scatterplot(data=data, x='age', y='chol', hue=kmeans.labels)
plt.scatter(kmeans.cluster_centers_[:,0], kmeans.cluster_centers_[:,4],
           marker="*", c="r", s=80, label="centroids")

NameError: name 'kmeans' is not defined